html {
    box-sizing: border-box;
    background-color: #f9f9f9;
}
*::before,
*::after{
    box-sizing: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
h2 {
    font-size: 30px;
}
p{ font-size: 21px;
font-weight: 400;}
body{
    min-width: 1200px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
}
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent; /*прозрачный фон*/
    cursor: pointer;
}
.flex{
    display: flex;
}
.container{
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
   
}





.header-menu{
    background-image: url(../img/bgc.png);
    background-size: cover; /*масштабирует с сохр пропорций*/
    background-repeat: no-repeat; /*без повтора картинки*/
    background-position: center;
    height: 950px;
}
.nav-menu{
    width: 100%;
    text-align: center;
    justify-content: space-around;
    padding-top: 25px;
}
.folover-item{
    margin-right: 25px;
}
.mainmenu-list{
    list-style-type: none;
    color: white;
    padding: 0;
}
.mainmenu-item{    
    margin-right: 42px;
}
.mainmenu-item-img{
    margin-right: 13px;
}
.header-text{
    color: white;
    text-align: center;
    margin-top: 523px;
}

.mainmenu-item2{
    margin-right: 0px;
}
.breands{
    margin: 0 auto;
    border-top: 1px solid white; 
    padding: 30px 0;
    text-align: center;
}
.header-btn{
    border: 1px solid white;
    background-color: #515151;
    color: white;
    padding: 15px 35px;
    margin: 0 auto 80px auto;
    text-align: center;
}
.header-btn:hover{
    background-color: #747474;
}

.header-text{
    margin-bottom: 50px;
}
.burger{
    width: 50px;

    display: none;
}


 @media(max-width: 1220px){
    
    .nav-menu{
     justify-content: space-evenly;
    }
    .container{
        width: 1220px;
    }
    body{
        min-width: 375px;
     }
 }
 
 @media(max-width: 375px){
    .container{
        width: 345px;
        margin: 0;
    }
    .logo{
        margin-right: 40px;
    }
     .mainmenu-list{
         display: none;
     }
     .breands{
         display: none;
     }
     .burger{
         display: block;
     }
     .header-menu{
        height: 500px;
        width: 375px;
     }
     .header-text{
        margin-top: 210px;
     }
     .header-text h2{
        font-size: 36px;
     }
     .trtr{
        width: 200px;
        margin-top: -15px;
     }
     .header-btn{
        margin-bottom: 0;
        margin-left: 60px;
     }
     .body{
        width: 375px;
     }
 } 






.catalog{
    margin: 100px auto 120px auto ;
}
.catalog p, .catalog h2{
    text-align: center;
}
.catalog-btn{
    background-image: url(../img/double-btn.png);
    width: 171px;
    height: 61px;
    margin-right: 20px;
    /* border-right: 1px solid black ; */
}
.catalog-btn1{
    width: 165px;
    height: 61px;
    margin-right: 20px;
    background-color: #515151;
    color: white;
}
.catalog-btn:hover{
    background-image: none;
    background-color: #929292;
    color: white;
}
.catalog-menu{
    margin-top: 60px;
    margin-bottom: 55px;
    padding: 0;
}
.catalog-card{
    display: flex;
    flex-wrap: wrap;
}
.catalog-card p{
    color: white;
    margin-top: 222px;
}
.card{
    width: 350px;
    height: 280px;
    margin: 0 45px 45px 0px;
}
.cardd{
    width: 350px;
    height: 280px;
    margin-right: 0px;
}
.card1{
    background-image: url(../img/koltsa.png);
}
.card2{
    background-image: url(../img/sergi.png);
}
.card3{
    background-image: url(../img/podveski.png);
}
.card4{
    background-image: url(../img/zap.png);
}
.card5{
    background-image: url(../img/brasleti.png);
}
.card6{
    background-image: url(../img/chasi.png);
}
.card:hover{
    transform: scale(1.05);
}
.cardd:hover{
    transform: scale(1.05);
}
.card-twice:hover{
    transform: scale(1.05);
}

@media(max-width: 375px){
    .catalog-card{
        display: flex;
        flex-direction: column;
    }
    .card, .cardd{
        width: 100%;
        height: 244px;
    }
    .catalog{
        margin: 60px 0px ;
    }
    .catalog-menu{
        flex-wrap: wrap;
    }
    .catalog-btn{
        width: 147px;
        margin-right: 12px;
        margin-left: 12px;
        border-right: #cacaca 1px solid;
        margin-bottom: 15px;
    }
    .catalog-btn1{
        width: 147px;
        margin-right: 12px;
        margin-left: 12px;
        margin-bottom: 15px;
        
    }
    .card p{
        margin-top: 190px;
        margin-bottom: 15px;
    }
    .cardd{
        margin-bottom: 25px;
    }
    .card{
        margin-bottom: 25px;
    }
    .cardd p{
        margin-top: 190px;
        margin-bottom: 15px;
    }
}




.salon{
    background-image: url(../img/Rectangle6.png);
    height: 521px;
    padding-top: 100px;
}
.salon h2{
    color: white;
    text-align: center;
    margin-top: 15px;
}
.salon p{
    color: white;
    text-align: center;
}
.salon-text1{
    color: white;
    text-align: center;
    margin: 45px auto 60px auto;
    width: 730px;
}
.salon-btn{
    width: 225px;
    height: 51px;
    background-color: white;
}
.salon-btn:hover{
    background-color: #cacaca;
}

@media(max-width: 375px){
    .salon p, .salon h2{
        width: 345px;
        margin-left: 15px;
    }
    .trtr{
        width: 375px;
    }
    .salon{
        padding-bottom: 100px;
        width: 375px;
    }
}



.stateiki{
    margin: 120px auto;
}
.stateiki-text, .stateiki-zag{
    text-align: center;
    margin-bottom: 15px;
}
.stateiki-card-text{
    color: white;
    width: 210px;
    text-align: center;
    margin: 260px auto 0 auto;
}
.card-twice{
    width: 350px;
    height: 370px;
    margin: 60px 45px 45px 0px;
}
.card-twice1{
    width: 350px;
    height: 370px;
    margin: 60px 45px 45px 0px;
}
.card7{
    background-image: url(../img/13.png);
}
.card8{
    background-image: url(../img/23.png);
}
.card9{
    background-image: url(../img/33.png);
}
.stateiki-btn{
    width: 261px;
    height: 51px;
    margin: 0 auto;
    background-color: #515151;
    color: white;
}
.stateiki-btn:hover{
    background-color: #747474;
}

.trtr{
    display: flex;
    justify-content: space-around;
}
.trtr1{
    display: flex;
    justify-content: space-around;
}
.pl{
    margin: 110px 0 0 240px;
}

@media(max-width: 375px){
    .stateiki{
        margin: 0 0px;
    }
    .stateiki-card {
        flex-wrap: wrap;
        padding: 0;
    }
    .card-twice{
        margin-bottom: 0px;
        margin-right: 0;
        width: 340px;
    }
    .stateiki-btn{
        margin: 60px 0px;
    }
    .trtr{
        width: 250px;
        margin: 0 auto;
    }
    .stateiki-text{
        margin-top: 80px;
    }
}

.join-us-card-list{
    margin-top: 60px;
    margin-bottom: 150px;
} 
.join-us p, .join-us h2{
    text-align: center;
}
.join-us-card{
    display: flex;
    flex-wrap: wrap;
    width: 555px;
}
.join-card{
    width: 50%;
    height: 300px;
}
.join-card-tw{
    width: 100%;
    height: 300px;
}
.join-card1{
    background-image: url(../img/img--hover.png);
}
.join-card2{
    background-image: url(../img/gallery__image.png);
}
.join-card3{
    background-image: url(../img/prprprprp.png);
}
.join-card4{
    background-image: url(../img/ochhhhhh.png);
}
.join-card5{
    background-image: url(../img/dimondddd.png);
}
.join-card6{
    background-image: url(../img/Rectangle8.png);
}


.post{
    background-image: url(../img/Rectangle6.png);
    height: 418px;
    padding-top: 100px;
}
.post p{
    margin-bottom: 15px;
    color: white;
    text-align: center;
}
.post h2 {
    color: white;
    text-align: center;
    margin-bottom:60px ;
}


.form{
    margin: 0 auto;
    justify-content: center;
}
.form-list{
    margin-right: 73px;
}
.form-list img{
    margin-right: 20px;
}
.form-text{
    color: white;
    /* margin-left: 20px; */
    list-style-type: none;
}
.form-text:not(:last-child){
    margin-bottom: 20px;
}

.form-btn{
    border: 1px solid white;
    width: 428px;
    height: 103px;
    padding: 14px 15px;
}
.form-btns:hover{
    background-color: #727272;
}
.cont-btn{
    background-color: white;
    width: 388px;
    height: 65px;
    padding: 20px;

}
.form-input{
    width: 200px;
    height: 41px;
    padding: 0;
    margin: auto;
}
.form-btns{
    height: 45px;
    width: 163px;
    background-color: #515151;
    color: white;
    margin-left: 20px;
    margin: auto;
}

@media(max-width: 375px){
    .join-us{
        display: none;
    }
    .post{
        height: 650px;
        width: 375px;
    }
    .post p, .post h2{
        margin-left: 15px;
        width: 345px;
    }
    .form{
        flex-wrap: wrap;
        margin-left: 15px;
        width: 345px;
    }
    .form-btn{
        width: 280px;
        height: 150px;
    }
    .cont-btn{
        height: 110px;
        width: 240px;
        display: flex;
        flex-wrap: wrap;
    }
    .form-btns, .form-input{
        width: 240px;
    }
    .form-list{
        margin-bottom: 50px;
    }
}






.f-bl1{
    width: 255px;
}
.f-bl1:not(:last-child){
    margin-right: 30px;
}
.f-bl1 h2{
    font-size: 18px;
    font-weight: 500;
    border-bottom: #515151 1px solid;
    padding-bottom: 10px;
    margin-top: 80px;
}
.f-bl1 p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}
.f-bl1 img{
    height: 30px;
    margin-right: 20px;
}
.f-bl1-ul img{
    width: 20px;
    height: 20px;
}
.f-bl1-ul{
    padding: 0;
}
.f-bl1 li{
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}
.icon img{
    width: 24px;
    height: 24px;
}
.niz-foot{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    border-top: #515151 1px solid;
    margin-top: 45px;
}
.niz-foot p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

@media(max-width: 375px){
    .foot-so{
        display: none;
    }
    .footers{
       display: flex;
       flex-wrap: wrap;
       padding-left: 15px;
    }
    .f-bl1 h2{
        margin-top: 35px;
    }
}

#menuList.show {
    display: block;
    background-color: #333;
    color: white;
  }
